@using Espuchi.Core;
@model IEnumerable<Banda>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <table>
        <tbody>
            @foreach (Banda banda in Model)
            {
                <tr>
                    <td>
                        <p>@banda.Nombre</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
