@using Espuchi.Core;
@model IEnumerable<Banda>
@{
    ViewData["Title"] = "Bandas";
}

<body>
    <table>
        <tbody>
            @foreach (Banda banda in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Banda" asp-action="Detalle" asp-route-IdBanda="@banda.IdBanda">@banda.Nombre</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
