@model Espuchi.Core.Banda;
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="ModificarBanda" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Nombre">Nombre: </label>
        <input asp-for="Nombre">
    </div>
    <div>
        <label asp-for="Fundacion">Fundacion: </label>
        <input asp-for="Fundacion">
    </div>
    <button type="submit">Modificar Banda</button>
</form>